---
layout: default
permalink: /topup/
---

<div class="container pt-2 pb-5">
    <div class="peepl-topup">
        <p class="mx-auto" style="max-width: 12em">
            To top up your wallet,
            make a bank <a href="/bar-menu" style="color: black; text-decoration: none;">transfer</a> to:
        </p>
        <h2>Account name</h2>
        <pre>Peepl Ltd</pre>
        <h2>Account number</h2>
        <pre>10373435</pre>
        <h2>Sort code</h2>
        <pre>20-51-08</pre>
        <h2>Payment reference</h2>
        <pre class="js-wallet-reference"></pre>
        <button class="btn btn-link btn-block btn-sms js-show-sms-details">
            {% include icons/sms.html %}
            Text me these details
        </button>
        <form class="peepl-topup__sms-details js-sms-details">
            <p class="js-hide-sms-details">
                <code>10373435</code>
                <code>20-51-08</code>
                <code class="js-wallet-reference"></code>
            </p>
            <div class="form-group">
                <label for="tel">Your phone number</label>
                <input type="text" inputmode="numeric" pattern="[0-9+]*" id="tel" class="form-control form-control-lg" aria-describedby="smsHelp" required>
                <small id="smsHelp" class="form-text text-muted">We won’t store this, or share it with anyone.</small>
            </div>
            <button type="submit" class="btn btn-lg btn-block btn-peepl btn-send-sms mb-3">Send SMS</button>
            <div class="btn btn-lg btn-block btn-peepl disabled btn-sending-sms mb-3" role="status">
                <span class="spinner-border spinner-border-sm"></span>
                Sending SMS…
            </div>
            <div class="btn btn-lg btn-block btn-success btn-sent-sms mb-3" role="status">
                {% include icons/check.html %}
                SMS sent!
            </div>
            <button type="button" class="btn btn-link btn-block js-hide-sms-details">Cancel</button>
        </form>
        <div class="peepl-budget">
            <h2>Working in the open</h2>
            <p>
                Peepl in Abundance is trying something new.
                <a href="https://docs.google.com/spreadsheets/d/1L_LWwiY39cLvD82c6le0MV9CHE7AOpg7P0m1Bm3PENk/edit">Their finances are public, online.</a> Because a little bit of transparency never hurt anyone.
            </p>
        </div>
    </div>
</div>
