.peepl-topup {
    text-align: center;

    h2 {
        font-size: 1em;
    }

    pre {
        font-size: 2em;
        background-color: $white;
        border: $border-width solid $border-color;
        border-radius: $border-radius;
    }

    code {
        background-color: $white;
        border: $border-width solid $border-color;
        border-radius: 0.25rem;
        padding: 0.25rem 0.5rem;
        margin: 0 0.25rem;
    }
}

.btn-sms {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        width: 27px;
        height: 27px;
        color: inherit;
        margin-right: 0.5rem;
    }
}

.peepl-topup__sms-details {
    display: none;
    margin-top: 1rem;

    .form-control {
        text-align: center;
    }
}

.peepl-topup--sms {
    h2,
    pre,
    .btn-sms {
        display: none;
    }

    .peepl-topup__sms-details {
        display: block;
    }
}
