// Color system

$color-peepl-red: #FC0C1A;
$color-peepl-orange: #FC870C;
$color-peepl-cream: #F5F2EB;

$color-fuse-app-header: #f5f5f5;

$red: #FC0C1A;
$orange: #FC870C;

// Options

// Spacing

// Body

$body-bg: $color-fuse-app-header;

// Links

// Paragraphs

// Grid breakpoints

// Grid containers

// Grid columns

// Components

$border-radius: 0.5rem;
$border-radius-lg: 0.75rem;
$border-radius-sm: .25rem;

// Typography

// Tables

// Buttons + Forms

// Buttons

$btn-border-width: 0;

$btn-border-radius: 10em;
$btn-border-radius-lg: $btn-border-radius;
$btn-border-radius-sm: $btn-border-radius;

// Forms

// Form validation

// Z-index master list

// Navs

// Navbar

// Dropdowns

// Pagination

// Jumbotron

// Cards

// Tooltips

// Popovers

// Toasts

// Badges

// Modals

// Alerts

// Progress bars

// List group

// Image thumbnails

// Figures

// Breadcrumbs

// Carousel

// Spinners

// Close

// Code

$code-color: inherit;

// Utilities

// Printing
